.Home {
  background-color: #111113;
}
.HomeContainer {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.HomeFirst {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.HomeFirst_Left {
  display: flex;
  flex-direction: column;
}
.HomeFirst_Left_Title {
  font-size: 32px;
  padding: 0 0 16px;
  color: #FFF;
}
.HomeFirst_Left_Content {
  color: #FFF;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.HomeFirst_Right img {
  max-width: 500px;
  border-radius: 8px;
}

.HomeSecond {
  color: #FFF;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

/* Footer styles */
.HomeFooter {
  width: 100%;
  padding: 20px 0;
  background-color: #000;
  color: #FFF;
  text-align: center;
  border-top: 1px solid #20718D;
}

.FooterContent p {
  margin: 10px 0;
}

.FooterContent a {
  color: #1E90FF;
  text-decoration: none;
  margin: 0 5px;
}

.FooterContent a:hover {
  text-decoration: underline;
}